{% load static %}

<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>R U Josephine</title>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbBXKmB-TvEZGGrJuwhT9ieZuACcCzjQ0&callback=initMap" async
    defer></script>
<link rel="stylesheet" type="text/css" href="{% static 'map.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'graph.css' %}">
<script type="text/javascript" src="{% static 'jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'map.js' %}"></script>
<script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>